<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="14.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003"><ItemGroup>
        <MsDeployDeclareParameters Include="ClientId">
            <Kind>XmlFile</Kind>
            <Scope>web.config$</Scope>
            <Match>/configuration/appSettings/add[@key='ClientId']/@value</Match>
            <Description>Value for ClientId here.</Description>
            <DefaultValue>3d248c3d-1435-43bb-a4bc-3df8650f27ff</DefaultValue>
            <Value>3d248c3d-1435-43bb-a4bc-3df8650f27ff</Value>
            <Tags>applicationSettings</Tags>
        </MsDeployDeclareParameters>
        <MsDeployDeclareParameters Include="ClientSecret">
            <Kind>XmlFile</Kind>
            <Scope>web.config$</Scope>
            <Match>/configuration/appSettings/add[@key='ClientSecret']/@value</Match>
            <Description>Value for ClientSecret here.</Description>
            <DefaultValue>nBwfuiLJqg49nAla01EAmsTAHKM8Ul2OTVU00Hy8V94=</DefaultValue>
            <Value>nBwfuiLJqg49nAla01EAmsTAHKM8Ul2OTVU00Hy8V94=</Value>
            <Tags>applicationSettings</Tags>
        </MsDeployDeclareParameters></ItemGroup>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <LastUsedBuildConfiguration />
    <LastUsedPlatform />
    <SiteUrlToLaunchAfterPublish>http://sp-providerhosted-remoteeventhandler.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>sp-providerhosted-remoteeventhandler.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>SP-ProviderHosted-RemoteEventHandler</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>$SP-ProviderHosted-RemoteEventHandler</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>